<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemTacO.Properties.TemSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TemTacO.TemTacO" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TemTacO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TemTacO.Properties.Settings>
            <setting name="AlwaysShowDefense" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="TraitDisplay" serializeAs="String">
                <value>Hover</value>
            </setting>
        </TemTacO.Properties.Settings>
        <TemTacO.Properties.TemSettings>
            <setting name="AlwaysShowDefense" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowTrait" serializeAs="String">
                <value>False</value>
            </setting>
        </TemTacO.Properties.TemSettings>
        <TemTacO.TemTacO>
            <setting name="AlwaysShowTraits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowDefense" serializeAs="String">
                <value>False</value>
            </setting>
        </TemTacO.TemTacO>
    </userSettings>
</configuration>